@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #03E2F0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding-top: 15vh;
  min-height: 100vh;
  background: #212121;
  font-family: "Poppins", sans-serif;
  color: white;
  overflow-x: hidden;
}

/* imagen de fondo  */
.shape {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/fond_dev2.png');
  background-size: cover;
  background-position: center center;
  min-height: 100vh; 
}

header {
  box-shadow: 0 5px 10px rgba(3, 3, 3, 0.7);
  min-height: 15vh;
  display: flex;
  position: fixed; /* Fija el header en la parte superior */
  top: 0;
  left: 0;
  width: 100%; /* Asegura que el header cubra todo el ancho de la página */
  z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
  background: url('images/header.png');
  background-size: cover;
  background-position: center center;
  transition: top 1s;
}

header nav {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 7rem;
}

header nav a {
  color: white;
  text-decoration: none;
  font-size: 1.7rem;
  transition: 0.3s ease-in-out;
  position: relative;
}

header nav a:hover {
  color: var(--primary);
}

header nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  border-radius: 5rem;
  background: var(--primary);
  transition: 0.3s ease-in;
}

/* corregir error de hover */
header nav a:hover::after {
  width: 100%;

}
/* main  */

main {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

main .container .text {
  display: flex;
}

main .container h2 {
  font-weight: 200;
  margin-bottom: 1rem;
  font-size: 2vw;
}

main .container h2 .text {
  background-image: linear-gradient(135deg,
  #e669fb, #ff70a7);
  color:#e669fb ;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 650;
  letter-spacing: 5px;
  border-right: 3px solid; /* Cursor más delgado */
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s steps(39, end) infinite alternate,
             cursor .6s step-end infinite alternate;
}
/*typing */
@keyframes typing {
  from {
    width: 0;
  
  }to{
    width: 100%;
  }
}
/* Animación del cursor */
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
/*typing */

main .container h1 {
  font-size: 3vw;
  margin-bottom: 3rem;
  font-weight: 500;
}

main .container .text h1 span {
  font-weight: 700;
}

.icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

 .icons a {
  text-decoration: none;
  font-size: 2rem;
  border: 1px solid var(--primary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
  color: #03E2F0;
}

.icons a:hover {
  transform: scale(1.2);
}

.line {
  width: 50px;
  height: 2px;
  border-radius: 5rem;
  background: var(--primary);
}

/*CARTAS MAIN*/
.column {
  width: 50%;
  float: left;
  margin: 0 auto;
  height: 75vh;
  padding: 50px 0 0 400px ;

 }
 
.editor {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background:linear-gradient(109.61deg,#203a99 4.26%,#AA00D6 95.84%);
  margin: 40px 0 40px 100px; /* Ajustar el margen para mover a la derecha */
  right:0;
  float: right;
  font-size: 1.4rem;
  padding: 0 0 0 350px ;
 }

 
 .editor-template {
  height: 160px;
  width: 300px;
  backdrop-filter: blur(5px);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0,0,0,.5);
  right: 0;
  float: right;
  margin-top:-20px;
  margin-bottom: 25px;
  margin-right: 70px; /* Aumentar el margen derecho */

 }
 .editor-template:nth-child(2) {
  margin-right:0;
 }
 .editor-template:nth-child(3) { 
  margin-right: 80px;
  margin-bottom: 0px;
 }

 .titlecode {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20px;

 }
 .titlecode>div {
  width: auto;
 }
 .titlecode>div:nth-child(3) {
  float: right;
  padding-right: 5px;
  margin-left: auto;
 }

 .titlecode i, code {
  padding: 5px;
  color: #ffffff;
  padding-left: 25px;
 }
 .code {
  padding-left: 30px;
  padding-right: 5px;
  height: auto;
  width: 95%;
  margin: 0 auto;
 }
 .typing-animation {
  display: inline-block;
  border-right: 2px solid white; /* Cursor de tipeo */
  overflow: hidden; /* Oculta el texto que no se ha "escrito" todavía */
  white-space: nowrap; /* Evita el salto de línea */
  animation: typing 5s steps(39, end) infinite alternate,
  blink-caret .6s step-end infinite alternate;
}
.yellow{
  color: yellow;
}
 .yellowClass {
  color:#ecd05d;
 }

 .white {
  color:#ffffff;
 }
 .orange {
  color:#eea960d0;
 }
 .blancoPiel{
  color: #B5CEA8;
 }

/*CARTAS MAIN*/
/*typing Cartas code */

  /* Animación de escritura */
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }

  /* Animación de parpadeo del cursor */
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
  }

/*typing Cartas code */

/* about section  */

.about {
  position: relative;
  display: flex;
  font-size: 2em;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 150px;
}

.about .container {
  width: 70%;
  margin: auto;
}

.about h1 {
  font-size: 40px;
  margin-bottom: 4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
}

.about h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 5px;
  background: var(--primary);
  border-radius: 1rem;
}

.about h3 {
  font-size: 30px;
  color: var(--primary);
  font-weight: 200;
  margin-bottom: -1rem;
}

.about p {
  font-size: 25px;
  margin-bottom: 2rem;
  width: 80%;
  color: #e6e6e6;
}

.about .skills h2 {
  text-align: center;
  color: var(--primary);
  font-size: 40px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}

.skills {
  flex: 1;
  margin: 10px;
  padding-bottom: 30px;
}

.skills .wrapper {
  text-align: center;
}

.skills img {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: auto;
}

.skills .escuela {
  width: 50%;
  height: auto;
}

#down {
  position: absolute;
  bottom: -10px;
  left: 30px;
  width: 600px;
  height: auto;
 }
 #right {
  margin-top: -30px;
  bottom: auto;
  width: 800px;
  margin-right: 50px;
  position: absolute;
  visibility: visible;
  left: 465px;
  transform: scaleY(-1);
 }

 /*hacer que el gif se oculte y no ocupe espacio*/
 .agif {
  display: none;
 }
 

/* about section  */

/* project section  */
.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajusta automáticamente el número de columnas */
  gap: 150px; /* Espacio entre las columnas y filas */
  row-gap: 300px;
  justify-items: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  padding: 20px; /* Espacio alrededor del contenido */
  padding-top: 0;
  padding-bottom: 300px;
}

.projects {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 3rem 0;
  margin: 0 auto;
  background: url('images/blur_font.png');
  background-size: contain; /* Ajusta la imagen al tamaño del contenedor */
  background-repeat: repeat; /* Repite la imagen para cubrir todo el contenedor */
  background-position: center;
}

.projects .container {
  width: 70%;
  margin: auto;
}

/*Animacion para el icono descarga*/
.download-link{
  transition: transform 4s; /* Agrega una transición para la animación */
}

.download-link:active {
  transform: translateY(5px); /* Desliza el icono hacia abajo */
  animation: bounceBack 4s ease-in-out forwards; /* Agrega una animación para que regrese a su lugar */
  transform: scale(1.1); /* Escala el icono un 10% al hacer clic */
}

@keyframes bounceBack {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(0);
  }
}
/*Animacion para el icono descarga*/

.projects h3 {
  font-size: 30px;
  color: var(--primary);
  font-weight: 200;
  margin-bottom: -1rem;
  padding-top: 50px;
}

.projects h1.title {
  font-size: 40px;
  position: relative;
  margin-bottom: 10rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 50px;
  
}

.projects h1.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 50%;
  width: 500px;
  height: 5px;
  background: var(--primary);
  border-radius: 1rem;
}

.projects .project {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  transform: scale(1.5);
}

.project h1 {
  width: 100%;
  font-size: 2rem;
}

.card {
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  position: relative;
}

.card::after {
 
  position: absolute;
  inset: 0;
  background: transparent;
  pointer-events: none;
  z-index: 6;
  border: 5px solid var(--primary);
}

.card img {
  width: 100%;
  height: auto;
  transition: 0.3s;
}

.card .overview {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  margin: 10px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-100%);
  transition: 0.3s ease-in;
}

.card:hover .overview {
  transform: translate(0);
}

.overview h1 {
  all: unset;
  font-size: 20px;
  margin-bottom: 1rem;
  text-align: center;
}

.overview a {
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  transition: 0.2s ease-out;
}

.overview i {
  font-size: 1.5rem;
  color: #222;
  background: var(--primary);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overview a:hover {
  transform: scale(1.1);
}
#portafolioYPaginas{
margin-top: -200px;
}


/*DESCRIPCION DE las imagenes*/
.project .description {
  position: absolute;
  bottom: -100px;
  left: 8%;
  width: 85%;
  padding: 1rem;
  color: #ffffff;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column; /* Organiza los elementos en columna */
  align-items: center;
  margin-top: 100rem;
 
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%; /* Asegura que los elementos ocupen el 100% del ancho disponible */
  margin-bottom: 1rem; /* Añade un margen inferior para separar del texto */
}

.logos {
  display: flex;
  gap: 10px;
}

.logos p {
  font-size: 1.5rem; /* Tamaño de los logos */
  color: #888;
}

.rating {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.rating .fa-star, .rating {
  color: #888;
  font-size: 1rem;
}

.rating i.active {
  color: gold;
}

.download {
  display: flex;
  align-items: center;
}

.download-link i {
  font-size: 1rem;
  color: #888; /* Ajusta el color según tu diseño */
}

.infoImagenes {
  text-align: center; /* Centra el texto debajo de los iconos */
}

.infoImagenes p {
  font-size: 1rem;
  color: #a8a8a8; /* Ajusta el color según tu diseño */
  margin: 0; /* Ajusta el margen según tu diseño */
}
  /*DESCRIPCION DE las imagenes*/

/* project section  */

.back-top {
  text-decoration: none;
  font-size: 2rem;
  color: #222;
  background: var(--primary);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2%;
  right: 2%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.859);
  transition: 0.4s ease-out;
  opacity: 0;
  pointer-events: none;
}

.back-top:hover {
  transform: translateY(-20px);
}

.back-top.active {
  opacity: 1;
  pointer-events: auto;
}

/* Responsiveness  */
@media only screen and (min-width: 2000px) {
  #right {
      left: 1300px; /* Ajusta según sea necesario */
  }
}

@media only screen and (max-width: 900px) {
  main .container {
    width: 80%;
    
  }

  main .img {
    width: 300px;
    height: 350px;
  }
}

/* Navbar  */

header nav .burger {
  display: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  z-index: 999;
}

header nav .burger:hover {
  color: var(--primary);
}

header nav .burger:hover i {
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  header nav .burger {
    display:block
    
  }
  header nav .links {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100%;
    color: white;
    display: flex; /* Moved display: flex here */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: 0.8s cubic-bezier(1, -0.06, 0.33, 0.88);
    z-index: 99;
    margin: auto; /* Moved margin: auto here */
    justify-content: space-evenly; /* Ensuring space-evenly is applied */
    padding-block: 12rem; /* Moved padding-block here */
  }  

  header nav .links.show {
    transform: translateX(0);
  }

  header nav .links li {
    text-align: center;
  }

  header nav li a {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    transition: 0.3s ease-in-out;
  }
  /* Navbar  */

  .container,
  nav {
    width: 90% !important;
  }

  main .container {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }

  main .img {
    width: 200px;
    height: 250px;
    margin-bottom: 2rem;
  }

  main .container h2 {
    font-size: 20px;
  }

  main .container h1 {
    font-size: 4rem;
  }

  main .line {
    background: var(--primary);
  }

  .projects h1.title::after {
    width: 70%;
  }

  .about h1,
  .projects .container .title,
  .contact h1 {
    font-size: 7vw;
  }

  .about .skills h2 {
    font-size: 8vw;
  }

  .about .wrapper div {
    font-size: 4rem;
  }

  .card {
    min-width: 95%;
  }

  .card::after {
    border: 3px solid var(--primary);
  }

  .overview h1 {
    font-size: 3rem;
  }

  .contact .wrapper {
    font-size: 30px;
  }

  .contact .wrapper i {
    font-size: 5vw;
  }

  .contact span {
    font-size: 4vw;
  }

  .contact .footer p {
    font-size: 6vw;
  }
}

@media only screen and (max-width: 480px) {
  main h2{
    font-size: 14px !important;
  }
  header h1{
    font-size: 24px !important;
  }
  header{
    width: 100%;
    height: auto;
    transition: top 1s;
   
  }
  
  main h1 {
    font-size: 16px !important;
  }
  h3 {
    font-size: 14px !important;
  }
  main h2 .text{
    font-size: 16px !important;
  }
  
  .projects .title {
    font-size: 16px !important;
    padding-top:5px ;
  }
  .projects h3 {
   padding-top: 15px;
  }

  .projects h1.title::after {
    top: 50%;
    width: 200px;
    height: 4px;
    bottom: 0;
    
  }

  header nav li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.3s ease-in-out;
  }

  .projects-wrapper {
    grid-template-columns: 1fr; /* Una sola columna en dispositivos móviles */
    gap: 100px; /* Reduce el espacio entre columnas y filas */
    row-gap: 200px; /* Ajusta el espacio entre filas */
    padding-bottom: 150px;
    margin-top: -35px;

  }
  .projects .container {
    width: 90%; /* Aumenta el ancho del contenedor */
    margin: auto;
  }

   .projects .project {
    margin: 1rem 0; /* Ajusta el margen alrededor de cada proyecto */
    transform: scale(1); /* Restaura el tamaño original */
    margin-top: -30px;
  }

  .project h1 {
    font-size: 1.6rem; /* Ajusta el tamaño de fuente para los títulos de proyecto */
  }
  .card {
    max-width: 100%; /* Ajusta el ancho máximo para adaptarse a la pantalla */
    margin: 0 auto; /* Centra la tarjeta */
  }
  .overview i {
    font-size: 1.2rem; /* Ajusta el tamaño del ícono en la descripción */
    width: 30px; /* Ajusta el tamaño del botón del ícono */
    height: 30px; /* Ajusta el tamaño del botón del ícono */
  }

  .about {
    margin-top: -50px;
    padding-bottom: 70px;
  }
  .about .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about .wrapper div {
    width: 80px;
  }

  .about p {
    text-align: center;
    width: 100%;
    font-size: 17px;
  }

  .about .wrapper img{
    padding-top: 10px;
    width: 100%;
    height: 120%; 
   
  }
  .about .wrapper .escuela{
    padding-top: 1px;
    width: 75%;
    height: auto;
  }
  .about h3{
    font-size: 17px ;

  }
  .skills-container{
    margin-top: -30px;
  }
  .about h1, .about .skills h2{
    font-size: 2rem;
  }
  .skills iframe {
    width: 100%;
    height: auto;
}

  header h1 img{
    width: 70px;
    height: auto;
  }
  #down {
    position: absolute;
    bottom: -30px;
    left: -55px;
    width: 400px;
     height: auto;
   }
   #right {
    position: absolute;
    margin-top: -15px;
    left: 210px;
    width: 150px;
    height: auto;
    opacity: 0.7;
    visibility: visible;
   }
   main .line{
    background: var(--primary);
   }

   .agif {
    position: absolute;
    display: block;/*hacer que el gif se muestre en linea*/
    transform: scaleY(-1);
    margin-top: -230px;
    float: right;
    position: absolute;
    left: 210px;
    width: 150px;
    height: auto;
    visibility:visible;
   }

   .column {
    width: 100%;
    float: none;
    margin: 0;
    height: auto;
    padding: 20px 10px;
  }

  .editor {
   margin-top: -55px;
  padding: 10px;
   font-size: 1.4rem;
  }

  .editor-template {
    width: 100%;
    height: auto;
    margin-right: 0;
    padding: 10px;
    text-align: center;
  }

  .titlecode, .code {
    text-align: center;
    padding-right: 0;
  }

  .titlecode > div:nth-child(3) {
    margin-left: 0;
  }

  .code {
    width: 100%;
    padding-left: 10px;
  }

}

.loader-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Ajusta este color si es necesario */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #e669fb;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
      transform: scale(0);
      opacity: 1;
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

